{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <h1>Gerenciador de Campeonatos</h1>
        <p class="lead">Nesse curso, apresentaremos alguns recursos avançados do Doctrine dentro do Symfony 4. Vamos nos aprofundar nos Relacionamentos entre Entities e nas QueriesBuilder. Geraremos Entities, diretamente do banco de dados e ensinaremos como usar Expressions para criar filtros mais elaborados nas consultas.</p>
        <a class="btn btn-lg btn-primary" href="" role="button">Gerenciar Resultados</a>
    </div>
{% endblock %}
